@font-face {
  font-family: "Apple Kid";
  src: url("./media/Apple-Kid.woff"), url("./media/Apple-Kid.ttf");
}

body {
  margin: 0;
  height: 100vh;
  position: relative;
}

p {
  margin: 0;
  margin-bottom: 4px;
}
