@font-face {
  font-family: "Apple Kid";
  src: url("./media/apple_kid.ttf");
}

body {
  margin: 0;
}

p {
 margin: 0;
 margin-bottom: 4px;
}

img {
	float: left;
	margin-right: 10px;
	width: 80px;
}
